.slick-next {
  right: 32px;
}
.slick-prev {
  z-index: 1;
  left: 12px;
}

.slick-prev::before {
  content: url("assets/images/strelka.png");
}
.slick-next::before {
  content: url("assets/images/strelka2.png");
}
.mt-10 {
  margin-top: 72px;
}




.form{
  margin: 0 auto;
}
.hvr-ripple-out:before {
  border: #076BFFFF solid 6px;
}
.order-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup {
  background-color: white;
  border: 1px solid black;
  padding: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

router-outlet {
  flex: 1;
}




/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
